*.egg-info
.eggs
__pycache__
__uvcache__
.ipynb_checkpoints/
*.ipynb
build
dist
.venv
.vscode
htmlcov
.coverage
coverage.xml
cov_html
node_modules
playwright-report
test-results
.env
.python-version
jupyterlab.log
jlab.pid
licensing-logs
.yarn
src/jupyter_matlab_labextension/src/lezer-matlab/src/parser.js
src/jupyter_matlab_labextension/src/lezer-matlab/src/parser.terms.js
integ-tests.log
tests/integration/integ_logs.log
src/jupyter_matlab_kernel/kernelspec/kernel.json
